﻿@model StudentCRUD.Models.StudentExamViewModel

@{
    ViewData["Title"] = "AddStudentExams";
}

<h2>AddStudentExams</h2>

<h4>StudentExam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddStudentExams">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

