﻿@model IEnumerable<StudentCRUD.Data.Entities.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Students</h2>

<p>
    <a asp-action="Create" class="btn btn-sm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-group">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
