﻿@model StudentCRUD.Data.Entities.Exam

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
            <div class="form-group">

                @if(ViewBag.showSuccessAlert == false)
                {
                <script>
                    alert('No puede se mas de 100%');
                </script>
                }

                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
    <div class="form-group">
        <label asp-for="value" class="control-label"></label>
        <input asp-for="value" class="form-control" />
        <span asp-validation-for="value" class="text-danger"></span>
    </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>



</form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
